body {
  font-family: Helvetica, sans-serif;
}

header {
  background-image: url("../assets/images/pattern.jpeg");
}

h1 {
  font-size: 100px;
  color: khaki;
  text-align: center;
}

h2 {
  font-size: 32px;
  color: white;
}

#brushes {
  background-color: mediumspringgreen;
}

strong {
  color: blue;
}
